@charset "UTF-8";
/* Styles */

body {
	background-color: #333;
	background-size: 71px 71px;
	color: #000;
	overflow: hidden;
	
	font-family: Helvetica, Arial, sans-serif;
}

.box {
	position: absolute; 
	
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );*/

	border-radius: 10px;
	border: 1px solid #333;
	
	color: #FFF;
}

.chart {
	position: relative; 
	width: 100%;
	height: 100%;
	margin: -2px;
}

.value_output {
	position: absolute;
	bottom: 5px;
	left: 0px;
	right: 0px;
	text-align: center;	
}

#settings-triangle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	
	border-bottom: 72px solid #111;
	border-left: 72px solid transparent;
	
	opacity: 0.9;
	
	z-index: 100;
}

#settings-triangle img {	
	position: absolute; 
	bottom: -62px; 
	right: 10px; 
	width: 25px; 
	height: 25px;
	
	cursor: pointer;
}

.digital_clock {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	padding-left: 10px;	
	padding-right: 10px;
	
	-moz-transform: translateX(-50%) translateY(-50%); 
	-webkit-transform: translateX(-50%) translateY(-50%); 
	transform: translateX(-50%) translateY(-50%); 
	
	color: #FFF; 
	font-size: 80px;
	border: 2px solid #222;
	
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	
	background-color: rgba(0,0,0,0.2);	
}

.analog_clock {
	position: absolute; 
	left: 10%; 
	top: 10%; 
	bottom: 10%; 
	right: 10%; 
	
	border: 2px solid #222;
	border-radius: 50%; 
	
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75); 
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75); 
	box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
	
	background-color: rgba(0,0,0,0.2);	
}

#settings-menu {
	position: absolute;
	bottom: 0px;
	right: 0px;
	top: 0px;
	width: 72px;
	
	margin-right: -72px;
	
	background-color: rgba(11, 11, 11, 0.9);
	
	z-index: 99;
}